@model IPagedList<Marauder.BLL.ViewModels.CompanyView>

@{
    ViewBag.Title = "公司列表";
}

<h2>公司列表</h2>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().acct_company_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().display_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().date_created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.acct_company_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.display_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
